*.iml
.DS_Store

# Android
android/.gradle
android/local.properties
android/.idea
android/build
android/app/build
android/.cxx
android/.externalNativeBuild
android/captures
android/.firebase
android/functions/node_modules
android/*.apk
android/app/build/
android/dist/*.apk
android/*.aab

# Web
web/node_modules
web/dist
web/.next
web/.env
web/.env.local
web/backend/.env
web/venv
web/backend/.venv
web/backend/uploads
web/backend/temp_audio
web/backend/static/audio_replies/*.mp3
android/demo/*.mp4
android/demo/*.mov

# Root IDE leftovers
/.gradle
/.idea
/.kotlin
